* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.header {
  position: fixed;
  width: 100vw;
  height: 7vh;
  padding-top: 1em;
}
.logo {
  width: 10vw;
  margin: 0;
  display: inline-block;
}
.link {
  margin-left: 1rem;
  color: #000000;
  text-decoration: none;
}
.png {
  width: 10%;
}
.svg {
  /* z-index: 7; */
  margin-top: 5px;
  margin-left: 4px;
  width: 8%;
}
.nav {
  width: 70vw;
  display: inline-block;
  margin: 0;
  padding: 0 2rem;
  text-align: center;
}
.links {
  align-items: center;
  top: 30px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0.5em;
  margin-left: 40px;
  margin-right: 40px;
  transition: background-color 0.3s ease;
}
.btn {
  width: 15vw;
  display: inline-block;
}
.login {
  background-color: #000000;
  color: white;
  border-radius: 25px;
  height: 30px;
}
.signin {
  margin-left: 3px;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 0.5px solid rgb(128, 128, 128);
  border-radius: 25px;
  height: 30px;
}
.help {
  background-color: #ffffff;
  margin-left: 8px;
  border: 0.5px solid #000000;
  font-weight: 500;
  border-radius: 100%;
}
.main-section {
  display: inline-block;
  align-items: center;
  text-align: center;
  border:0.5px solid #0000001c;
  border-radius: 25px;
  position: relative;
  width: 40vw;
  height: 80px;
  padding: 0.5rem;
  /* background-color: aqua; */
}
.icons {
  width: 15%;
}
.btns-input {
  width: 120px;
  height: 30px;
  background-color: white;
  border: 0.5px solid #0000001c;
  border-radius: 25px;
  margin-top: 8px;
  margin-left: 6px;
  float: left;
}
.voice {
  width: 110px;
  height: 30px;
  background-color: #dbd8d8;
  border: 0.5px solid #00000000;
  border-radius: 25px;
  margin-top: 8px;
  margin-right: 16px;
  float: right;
}
.sec1 {
  width: 30vw;
  /* background-color: aqua; */
  display: inline-block;
}
h1{
    /* background-color: aqua; */
    text-align: center;
    font-weight: 200;
}
.input main{
    border: 0px solid white;
}
